.header__back {
  background: url("../img/back__1.svg") center no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 1440px;
  height: 850px;
  position: relative;
}

.header__black {
  position: absolute;
  right: 0;
}

.header__black-mob {
  position: absolute;
  right: -200px;
  top: -259px;
}

.black {
  background: url("../img/black.svg") center no-repeat;
  background-size: cover;
  max-width: 590px;
  width: 41%;
  height: 850px;
}

.black-mob {
  background: url("../img/black-mob.svg") center no-repeat;
  background-size: contain;
  width: 519px;
  height: 519px;
}

.header__cat {
  position: absolute;
  right: 150px;
  top: 280px;
}

.cat__1 {
  background: url("../img/cat.png") center no-repeat;
  background-size: contain;
  width: 507px;
  height: 334px;
}

.head {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

.head__about {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 76%;
  min-width: 1100px;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
}

.phone__img {
  background: url("../img/phone.svg") center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.phone__text {
  width: 70%;
}

.phone__text-white {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 100;
}

.phone__number {
  padding-left: 35px;
  font-weight: 300;
  text-decoration: none;
}

.phone__telegram {
  background: url("../img/telegram.svg") center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-left: 5px;
}

.phone__viber {
  background: url("../img/viber.svg") center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-left: 5px;
}

.email {
  width: 24%;
  display: flex;
  flex-wrap: wrap;
}

.email__img {
  background: url("../img/mail.svg") center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.email__adres {
  padding-left: 35px;
  width: 80%;
  font-weight: 300;
  text-decoration: none;
}

.location {
  width: 21%;
  display: flex;
  flex-wrap: wrap;
}

.location__img {
  background: url("../img/location.svg") center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.location__text {
  padding-left: 35px;
  width: 80%;
  font-weight: 100;
}

.language {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
}

.language__img {
  background: url("../img/globus.svg") center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.unfold {
  display: flex;
  z-index: 2;
}

.language__unfold {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  width: 113px;
  height: 136px;
  border-radius: 15px;
  background-color: #fff;
  z-index: 3;
}

.language__text {
  background-color: transparent;
  width: 31px;
  height: 24px;
  border: transparent;
}

.unfold:hover + .language__unfold, .language__unfold:hover {
  display: flex;
}

.language__ua {
  height: 33%;
}

.language__eng {
  height: 33%;
}

.language__mld {
  height: 33%;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  width: 1180px;
  border-radius: 100px;
  background-color: #fff;
  font-size: 11px;
  font-weight: 100;
  z-index: 2;
}
.nav:hover {
  font-weight: 300;
}

.nav__mob-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 41%;
}
.nav__mob-left .nav__mob-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 41%;
}

.nav__menu-mobile {
  background: url("../img/menu-phone.svg") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.icon {
  background: url("../img/icon.png") center no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.logo {
  background: url("../img/logo.svg") center no-repeat;
  background-size: contain;
  width: 61px;
  height: 21px;
}

.globus-mob {
  background: url("../img/globus__black.svg") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.mail-mob {
  background: url("../img/email__black.png") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.phone-mob {
  background: url("../img/phone__black.svg") center no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.nav__item_menu {
  position: relative;
}

.nav__unfold {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 148px;
  border-radius: 10px;
  background-color: #fff;
  top: 40px;
  padding-top: 50px;
}

.nav__item_menu:hover .nav__unfold {
  display: flex;
}

.nav__unfold-item {
  height: 30%;
}

.head__introduction {
  width: 1440px;
  margin: 0 auto;
}

.head__article-box {
  font-family: "Montserrat";
  width: 32%;
  max-width: 450px;
  min-width: 450px;
  padding-left: 200px;
}

.head__article {
  font-size: 52px;
  font-weight: 500;
}

.head__subarticle {
  font-size: 32px;
  margin-top: -20px;
}

.head__button {
  font-family: "Montserrat";
  width: 210px;
  height: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #ffffff;
  padding: 10px;
}

.head__text {
  font-size: 24px;
  font-family: "Montserrat";
  padding-left: 200px;
}

@media (max-width: 780px) {
  .black {
    display: none;
  }
  .header__cat {
    display: none;
  }
  .cat__1 {
    display: none;
  }
  .head__about {
    display: none;
  }
  .nav__item {
    display: none;
  }
  .nav {
    width: 100%;
    border-radius: 0;
  }
  .header__back {
    min-width: 320px;
    height: 480px;
  }
  .head__article-box {
    padding-top: 200px;
    padding-left: 9.5%;
  }
  .head__button {
    margin: 0 0 0 9.5%;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .logo {
    width: 53px;
    height: 18px;
  }
  .head__text {
    width: 81%;
    margin: 0 auto;
    text-align: center;
  }
  .head__introduction {
    width: 100%;
  }
  .head__text {
    padding-left: 0;
  }
}
@media (min-width: 780px) {
  .nav__menu-mobile {
    display: none;
  }
  .nav__item-mob {
    display: none;
  }
  .nav__mob-left {
    display: none;
  }
  .header__black-mob {
    display: none;
  }
}
.wraper {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  min-width: 1440px;
}

.main__language {
  width: 962px;
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}

.main__eng {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__eng-img {
  background: url("../img/eng.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__fre {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__fre-img {
  background: url("../img/fr.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__ger {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__ger-img {
  background: url("../img/gr.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__spa {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__spa-img {
  background: url("../img/spa.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__chin {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__chin-img {
  background: url("../img/chin.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__ita {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__ita-img {
  background: url("../img/ita.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.main__jap {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__jap-img {
  background: url("../img/jap.png") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.language__steps {
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.steps__article {
  display: flex;
  justify-content: center;
}

.article {
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat";
}

.steps {
  width: 50%;
  max-width: 700px;
  min-width: 700px;
  padding: 100px 0;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.steps__img-number {
  width: 80px;
  height: 80px;
}

.img__1 {
  background: url("../img/img__1.svg") center no-repeat;
  background-size: contain;
  width: 150px;
}

.img__2 {
  background: url("../img/img__2.svg") center no-repeat;
  background-size: contain;
  width: 150px;
  margin-right: 50px;
  float: left;
}

.img__3 {
  background: url("../img/img__3.svg") center no-repeat;
  background-size: contain;
  width: 150px;
}

.steps__item {
  margin-top: 50px;
}

.steps__item-1 {
  order: 1;
}

.steps__item-2 {
  order: 2;
}

.steps__item-3 {
  order: 3;
}

.steps__item-4 {
  order: 4;
}

.steps__item-5 {
  order: 5;
}

.steps__item-6 {
  order: 6;
}

.steps__item-7 {
  order: 7;
}

.steps__item-8 {
  order: 8;
}

.steps__item-9 {
  order: 9;
}

.steps__char-1 {
  background: url("../img/char__1.png") center no-repeat;
}

.steps__char-2 {
  background: url("../img/char__2.png") center no-repeat;
}

.steps__char-3 {
  background: url("../img/char__3.png") center no-repeat;
}

.steps__char {
  width: 150px;
  height: 150px;
}

.steps__text {
  width: 250px;
}

.orange {
  color: #e65a29;
}

.main__back {
  width: 100%;
  height: 903px;
  background: url("../img/back__2.svg") center no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.translates {
  max-width: 1020px;
  position: absolute;
  width: 70%;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  font-size: 14px;
  padding: 50px;
  border-radius: 30px;
}

.main__coments {
  background: url("../img/comments.png") center no-repeat;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

.translates__article {
  max-width: 280px;
  min-width: 280px;
  width: 30%;
  margin-top: 130px;
}

.translates__list {
  width: 50%;
  max-width: 460px;
  min-width: 460px;
  margin-top: 100px;
}

.list__item {
  padding-top: 20px;
}

.list__check {
  background: url("../img/check.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

.list__text {
  width: 90%;
}

.button {
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #ffffff;
  padding: 10px;
  width: 300px;
  height: 60px;
}

.advantages {
  max-width: 800px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages__button {
  margin: 150px 200px 0px;
  background-image: linear-gradient(to right, #e2603b, #ffe3ab);
}

.advantages__article {
  width: 500px;
  text-align: left;
}

.advantages__text-black {
  width: 90%;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__text {
  padding: 15px;
  width: 45%;
}

.advantages__subarticle {
  width: 90%;
  font-size: 14px;
  font-family: "Montserrat";
}

.arrow {
  background: url("../img/arrow.svg") center no-repeat;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}

.offers {
  width: 100%;
  padding-bottom: 200px;
}

.offers__back {
  position: relative;
  width: 100%;
  height: 360px;
  background: linear-gradient(to right, #e2603b, #ffe3ab);
}

.offers__content {
  position: absolute;
  width: 1060px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  bottom: -100px;
  border-radius: 20px;
}

.offers__img {
  width: 150px;
  height: 150px;
  background: url("../img/offer.png") center no-repeat;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
}

.offers__article {
  padding: 35px 0 35px 70px;
  font-size: 32px;
  width: 660px;
}

.offer__text {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.offer__item {
  width: 74%;
}

.offer__check {
  padding-left: 150px;
  background: url("../img/check.svg") center no-repeat;
  width: 24px;
  height: 24px;
}

@media (max-width: 780px) {
  .main__language {
    margin-top: 100px;
  }
  .language__steps {
    overflow-x: scroll;
  }
  .wraper {
    min-width: 320px;
  }
  .steps {
    width: 80%;
    min-width: 320px;
    text-align: center;
  }
  .main__language-box {
    overflow-x: scroll;
  }
  .steps__char {
    width: 50%;
  }
  .steps__text {
    width: 100%;
  }
  .steps__img-number {
    width: 80px;
    height: 80px;
  }
  .main__back {
    background: transparent;
    height: 600px;
  }
  .translates__article {
    width: 87.5%;
    margin: 0 auto;
  }
  .translates {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    bottom: 0;
  }
  .main__coments {
    display: none;
  }
  .translates__list {
    margin: 0 auto;
    min-width: 260px;
    width: 81%;
  }
  .list__check {
    display: none;
  }
  .advantages__button {
    width: 250px;
    margin: 0;
  }
  .advantages__article {
    width: 81%;
    margin: 0 auto;
  }
  .advantages {
    width: 90%;
  }
  .advantages__text-black {
    margin: 0 auto;
  }
  .offers__back {
    background: transparent;
  }
  .offers {
    width: 90%;
  }
  .offers__content {
    width: 100%;
    bottom: 0;
  }
  .offers__img {
    display: none;
  }
  .offer__text {
    width: 100%;
    margin: 0 auto;
  }
  .offer__check {
    display: none;
  }
  .offer__item {
    width: 100%;
    margin-bottom: 50px;
  }
  .steps__item-4 {
    order: 6;
  }
  .steps__item-6 {
    order: 4;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer__navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.footer__content-left {
  width: 550px;
}

.footer__article {
  width: 520px;
  font-size: 32px;
}

.footer__text-gray {
  color: #4D4D4D;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  width: 304px;
}

.footer__phone {
  font-size: 23px;
  font-weight: bold;
  width: 220px;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}
.footer__phone span {
  color: #E65A29;
}

.footer__telegram {
  background: url("../img/telegram__black.png") center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-left: 5px;
}

.footer__viber {
  background: url("../img/viber_black.png") center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-left: 5px;
}

.footer__content-right {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__map {
  width: 360px;
  height: 290px;
}

.footer__input-container {
  padding-top: 100px;
}

.footer__input-article {
  display: none;
  margin: 0 auto;
  width: 92%;
  color: #E65A29;
  text-align: center;
  padding-bottom: 40px;
}
.footer__input-article span {
  font-weight: 500;
}

.footer__name-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
  color: black;
  padding: 5px;
}

.footer__email-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.footer__phone-input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.footer__button {
  width: 260px;
  margin-top: 50px;
  padding: 15px;
  background-image: linear-gradient(to right, #E2603B, #FFE3AB);
  color: aliceblue;
}

.footer__bottom {
  padding-top: 100px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.main__item {
  padding-bottom: 30px;
}

.pappers__item {
  padding-bottom: 30px;
}

.adresses {
  width: 340px;
}

.adresses__item {
  padding-bottom: 40px;
  text-decoration: none;
  color: black;
}

.adresses__item-gray {
  color: #4D4D4D;
}

@media (max-width: 780px) {
  .footer {
    width: 90%;
  }
  .footer__navigation {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer__content-left {
    width: 100%;
  }
  .footer__article {
    width: 100%;
  }
  .footer__text-gray {
    -moz-column-count: 1;
         column-count: 1;
  }
  .footer__contacts {
    display: none;
  }
  .footer__content-right {
    width: 100%;
  }
  .footer__map {
    display: none;
  }
  .footer__content-right {
    display: block;
  }
  .footer__input-article {
    display: block;
  }
  .footer__bottom {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__logo {
    padding-bottom: 50px;
  }
  .footer__main {
    display: none;
  }
  .papers {
    display: none;
    width: 92%;
  }
}/*# sourceMappingURL=style.css.map */