
.footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
}
.footer__navigation{
    margin: 0 auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
}
.footer__navigation-p4{
    margin: 0 auto;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}
.footer__content-left {
    width: 550px;
}
.footer__article {
    width: 520px;
    font-size: 32px;
}
.footer__text-black {
}
.footer__text-gray {
    color: #4D4D4D;
    column-count: 2;
    column-gap: 20px;
}
.footer__contacts {
display: flex;
flex-wrap: wrap;
width: 304px;

}
.footer__phone {
    font-size: 23px;
    font-weight: bold;
    width: 220px;
    text-decoration: none;
    color: black;
    & span{
        color: #E65A29;
    }
    padding-bottom: 5px;
}
.footer__telegram {
    background: url('../img/telegram__black.png')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.footer__viber {
    background: url('../img/viber_black.png')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.footer__content-right {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__map {
    width: 360px;
    height: 290px;
}
.footer__input-container{
    padding-top: 100px;
}
.footer__input-article{
    display: none;
    margin: 0 auto;
    width: 92%;
    color: #E65A29;
    text-align: center;
    & span{
        font-weight: 500;
    }
    padding-bottom: 40px;
}
.footer__name-input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
    color: black;
    padding: 5px;
}
.footer__email-input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.footer__phone-input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
    color: black;
    padding: 5px;
    text-decoration: none;
}
.footer__button {
    width: 260px;
    margin-top: 50px;
    padding: 15px;
    background-image: linear-gradient(to right, #E2603B, #FFE3AB);
    color: aliceblue;
}
.footer__bottom{
    padding-top: 100px;
    width: 1440px;
    display: flex;
    justify-content: space-around;
}
.footer__logo {
    display: flex;
    align-items: center;
}
.icon {
}
.logo {
}
.footer__main{

}
.main__item {
padding-bottom: 30px;
}
.papers {
}
.pappers__item {
    padding-bottom: 30px;
}
.adresses {
    width: 340px;
}
.adresses__item {
    padding-bottom: 40px;
    text-decoration: none;
    color: black;
}
.adresses__item-gray{
    color: #4D4D4D;
}
@media (max-width: 780px){
    .footer{
        width: 90%;
        padding-top: 0;
    }
    .footer__navigation{
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer__navigation-p4{
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer__content-left{
        width: 100%;
    }
    .footer__article{
        width: 100%;
    }
    .footer__text-gray{
        column-count: 1;
    }
    .footer__contacts{
        display: none;
    }
    .footer__content-right{
        width: 100%;
    }
    .footer__map{
        display: none;
    }
    .footer__content-right{
        display: block;
    }
    .footer__input-article{
        display: block;
    }
    .footer__bottom{
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__logo{
        padding-bottom: 50px;
    }
    .footer__main{
        display: none;
    }
    .papers{
        display: none;
        width: 92%;
    }
}
@media (max-width: 780px){
    .footer{
        width: 90%;

    }
    .footer__navigation{
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer__content-left{
        width: 100%;
    }
    .footer__article{
        width: 100%;
    }
    .footer__text-gray{
        column-count: 1;
    }
    .footer__contacts{
        display: none;
    }
    .footer__content-right{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .footer__map{
        display: none;
    }
    .footer__input-container{
        padding-bottom: 50px;
    }
    .footer__input-article{
        display: block;
    }
    .footer__name-input{
        width: 80%;
    }
    .footer__email-input{
        width: 80%;
    }
    .footer__phone-input{
        width: 80%;
    }
    .footer__button{
        margin: 0 auto;
    }
    .footer__bottom{
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__logo{
        padding-bottom: 50px;
    }
    .footer__main{
        display: none;
    }
    .papers{
        display: none;
        width: 92%;
    }
}
@media (min-width: 780px){
    
}


