.header__back {
    background: url('../img/back__1.svg')center no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1440px;
    height: 850px;
    position: relative;
}
.header__back-p4{
    background: url('../img/back__1.svg')center no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1440px;
    height: 737px;
    position: relative;
}
.header__black {
    position: absolute;
    right: 0;
}
.header__black-mob{
    position: absolute;
    right: -200px;
    top: -259px;
}

.black {
    background: url('../img/black.svg') center no-repeat;
    background-size: cover;
    max-width: 590px;
    width: 41%;
    height: 850px;
}
.black-mob{
    background: url('../img/black-mob.svg')center no-repeat;
    background-size: contain;
    width: 519px;
    height:519px;
}
.header__cat {
    position: absolute;
    right: 150px;
    top: 280px;
}
.cat__1 {
    background: url('../img/cat.png') center no-repeat;
    background-size: contain;
    width: 507px;
    height: 334px;
}
.head {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 auto;
}
.head__about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 76%;
    min-width: 1100px;
}
.phone {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}
.phone__img {
background: url('../img/phone.svg') center no-repeat;
background-size: contain;
width: 32px;
height: 32px;
}
.phone__text {
    width: 70%;
}
.phone__text-white {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 100;
}
.phone__number {
    padding-left: 35px;
    font-weight: 300;
    text-decoration: none;
}
.phone__telegram {
    background: url('../img/telegram.svg')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.phone__viber {
    background: url('../img/viber.svg')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.email {
    width:24%;
    display: flex;
    flex-wrap: wrap;
} 
.email__img {
    background: url('../img/mail.svg') center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.email__text {
}
.email__adres {
    padding-left: 35px;
    width: 80%;
    font-weight: 300;
    text-decoration: none;
}
.location {
    width: 21%;
    display: flex;
    flex-wrap: wrap;
}
.location__img {
    background: url('../img/location.svg') center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.location__text {
    padding-left: 35px;
    width: 80%;
    font-weight: 100;
}
.language {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}
.language__img {
    background: url('../img/globus.svg')center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.unfold{
    display: flex;
    z-index: 2;
}
.language__unfold {
display: none;
position: absolute;
flex-direction: column;
justify-content: center;
align-items: center;
top: 50px;
width: 113px;
height: 136px;
border-radius: 15px;
background-color: #fff;
z-index: 3;
}
.language__text {
background-color: transparent;
width: 31px;
height: 24px;
border: transparent;
}
.unfold:hover + .language__unfold,.language__unfold:hover{
    display: flex;
}
.language__ua{
    height: 33%;
}
.language__eng{
    height: 33%;
}
.language__mld{
    height: 33%;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 1180px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 11px;
    font-weight: 100;
    margin-top: 80px;
    &:hover {
        font-weight: 300;
      }
      z-index: 2;
}
.nav__mob-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 41%;
.nav__mob-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 41%;
}
}
.nav__menu-mobile{
background: url('../img/menu-phone.svg') center no-repeat;
background-size: contain;
width: 24px;
height: 24px;
}

.nav__item {

}
.nav__item-mob{

}
.nav__text{
   
}
.icon {
    background: url('../img/icon.png')center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.logo {
    background: url('../img/logo.svg') center no-repeat;
    background-size: contain;
    width: 61px;
    height: 21px;
}
.globus-mob{
    background: url('../img/globus__black.svg') center no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.mail-mob{
    background: url('../img/email__black.png') center no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.phone-mob{

    background: url('../img/phone__black.svg') center no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.nav__item_menu {
position: relative;
}
.nav__unfold{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 273px;
height: 148px;
border-radius: 10px;
background-color: #fff;
top: 40px;
padding-top: 50px;
}
.nav__item_menu:hover .nav__unfold{
    display: flex;
}
.nav__unfold-item {
    height: 30%;
}
.header__options-box {
    width: 320px;
    display: flex;
padding-top: 80px;
}
.head__introduction {
    width: 1440px;
    margin: 0 auto;
  }
  .head__article-box {
    font-family: "Montserrat";
    width: 32%;
    max-width: 450px;
    min-width: 450px;
    padding-left: 200px;
  }
  .hose{
    background: url('../img/Hose.svg') center no-repeat;
    width: 24px;
    height: 24px;
  }
  .head__box {
    font-family: "Montserrat";
    width: 1440px;
    margin: 0 auto;
    padding-left: 250px;
  }
  .head__article {
    font-size: 52px;
    font-weight: 500;
  }
  .head__subarticle {
    font-size: 32px;
    margin-top: -20px;
  }
  .head__button {
    font-family: "Montserrat";
    width: 210px;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #ffffff;
    padding: 10px;
  }
  .head__text {
    font-size: 24px;
    font-family: "Montserrat";
    padding-left: 200px;
  }
  @media (max-width: 780px) {
    .black{
        display: none;
    }
.header__cat{
    display: none;
}
.cat__1{
    display: none;
}
.head__about{
    display: none;
}
.nav__item{
    display: none;
}
.nav{
    width: 100%;
    border-radius: 0;
    margin: 0;
}
.header__back{
    min-width: 320px;
    height: 480px;
} 
.header__back{
    min-width: 320px;
    height: 480px; 
}
.head__article-box{
    padding-top: 200px;
    padding-left: 9.5%;
}
.head__button{
    margin: 0 0 0 9.5%;
}
.icon{
    width: 30px;
    height: 30px;
}
.logo{
    width: 53px;
    height: 18px;
}
.head__text {
    width: 81%;
    margin: 0 auto;
    text-align: center;
}
.head__introduction{
    width: 100%;
}
.head__text{
padding-left: 0;
}
.head__box {
    padding: 210px 0 0 0;
    margin: 0 auto;
    width: 82%;
}
.header__options-box{
    display: none;
}
}
  @media (min-width: 780px){
    .nav__menu-mobile{
        display: none;
    }
    .nav__item-mob{
        display: none;
    }
    .nav__mob-left{
        display: none;
    }
    .header__black-mob{
        display: none;
    }
  }