.back__header {
    background: url('../img/back__1.svg')center no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1440px;
    height: 850px;
    position: relative;
}
.header__black {
    position: absolute;
    right: 0;
}
.black {
    background: url('../img/black.svg') center no-repeat;
    max-width: 590px;
    width: 41%;
    height: 850px;
}
.header__cat {
    position: absolute;
    right: 150px;
    top: 280px;
}
.cat__1 {
    background: url('../img/cat.png') center no-repeat;
    background-size: contain;
    width: 507px;
    height: 334px;
}
.head {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 auto;
}
.head__about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 76%;
    min-width: 1100px;
}
.phone {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}
.phone__img {
background: url('../img/phone.svg') center no-repeat;
background-size: contain;
width: 32px;
height: 32px;
}
.phone__text {
    width: 70%;
}
.phone__text-white {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 100;
}
.phone__number {
    padding-left: 35px;
    font-weight: 300;
    text-decoration: none;
}
.phone__telegram {
    background: url('../img/telegram.svg')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.phone__viber {
    background: url('../img/viber.svg')center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    padding-left: 5px;
}
.email {
    width:24%;
    display: flex;
    flex-wrap: wrap;
} 
.email__img {
    background: url('../img/mail.svg') center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.email__text {
}
.email__adres {
    padding-left: 35px;
    width: 80%;
    font-weight: 300;
    text-decoration: none;
}
.location {
    width: 21%;
    display: flex;
    flex-wrap: wrap;
}
.location__img {
    background: url('../img/location.svg') center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.location__text {
    padding-left: 35px;
    width: 80%;
    font-weight: 100;
}
.language {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}
.language__img {
    background: url('../img/globus.svg')center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.unfold{
    display: flex;
    z-index: 2;
}
.language__unfold {
display: none;
position: absolute;
flex-direction: column;
justify-content: center;
align-items: center;
top: 50px;
width: 113px;
height: 136px;
border-radius: 15px;
background-color: #fff;
z-index: 3;
}
.language__text {
background-color: transparent;
width: 31px;
height: 24px;
border: transparent;
}
.unfold:hover + .language__unfold,.language__unfold:hover{
    display: flex;
}
.language__ua{
    height: 33%;
}
.language__eng{
    height: 33%;
}
.language__mld{
    height: 33%;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    width: 81%;
    max-width: 1180px;
    min-width: 1180px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 11px;
    font-weight: 100;
    &:hover {
        font-weight: 300;
      }
}
.nav__item {

}
.nav__text{
   
}
.icon {
    background: url('../img/icon.png')center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.logo {
    background: url('../img/logo.svg') center no-repeat;
    background-size: contain;
    width: 61px;
    height: 21px;
}
.nav__item_menu {
position: relative;
}
.unfold-trigger{
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: #c72c2c;
    left: 600px;
    top: 500px;
}
.nav__unfold{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 273px;
height: 148px;
border-radius: 10px;
background-color: #fff;
top: 40px;
}
.unfold-trigger:hover + .nav__unfold,.nav__unfold:hover{
    display: flex;
}
.nav__unfold-item {
    height: 30%;
}
.head__introduction {
    width: 1440px;
    margin: 0 auto;
  }
  .head__article-box {
    font-family: "Montserrat";
    width: 32%;
    max-width: 450px;
    min-width: 450px;
    padding-left: 200px;
  }
  .head__article {
    font-size: 52px;
    font-weight: 500;
  }
  .head__subarticle {
    font-size: 32px;
    margin-top: -20px;
  }
  .head__button {
    font-family: "Montserrat";
    width: 210px;
    height: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #ffffff;
    padding: 10px;
  }
  .head__text {
    font-size: 24px;
    font-family: "Montserrat";
    padding-left: 200px;
  }